numpy
pandas
nltk
pdfminer.six
docx
ttkbootstrap
gender-guesser
pillow
wordcloud
textblob
spacy==3.8.4
pt_core_news_sm @ file:///home/codespace/workspace/SATA/src/pt_core_news_sm-3.8.0-py3-none-any.whl